.GroupChat {
    width: 445px;
    height: 85%;
    border: 1px solid #333;
    box-sizing: border-box;
    &-header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 12%;
        position: relative;
        background-color: #3e3f4d;
        > a {
            position: absolute;
            left: 20px;
            text-decoration: none;
            outline: none;
            > div {
                color: #9e9fa6;
                cursor: pointer;
            }
        }
        > div:nth-child(2) {
            color: #cdcdd2;
            font-size: 20px;
        }
    }
    &-content {
        height: 76%;
        border-bottom: 1px solid #e1e1eb;
        background-color: #ebeef1;
        padding: 5px 0 12px 0;
        overflow: auto;
        box-sizing: border-box;
    }
    &-date {
        display: flex;
        justify-content: center;
        margin: 25px 0 8px 0;
        > div {
            background-color: #d5d9dd;
            color: #9797a3;
            padding: 7px 15px;
            border-radius: 30px;
            font-size: 15px;
        }
    }
    &-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 12%;
        input {
            width: 65%;
            outline: none;
            border: none;
            margin-right: 15px; 
            padding: 10px;
            font-size: 20px;
            color: #bcbcc1;
        }  
        button {
            background-image: linear-gradient( #9183FE, #72a6fe);
            outline: none;
            border: none;
            border-radius: 8px;
            padding: 12px 15px;
            color: #f9f9fa;
            font-size: 18px;
            cursor: pointer;
        }
    }
}

::placeholder {
    color: #b9b9be;
}
